.navbar, .rodape {
    background-color: #faead5;
    }

  .carousel {
    margin: 30px;

  }
  .receitas .img-fluid {
    height: 200px;
    width: 600px;
    border-radius: 20px;
  }

  a, h5, span, h4 {
    font-family: Georgia, serif;
    color:#490e0d;
}
h2, h3 {
    color:#490e0d;
}
