.navbar{
    background-color: #faead5;

}
.rodape {
    background-color: #faead5;
}
h2 {
    text-align: center;
}
.comentario {
   padding: 40px;
   width: 500px;
   height: 200px;
   margin: 50px ;
}
.ing {
    border-radius: 30px;
    margin: 20px auto;
    padding: 60px;
    width:700px;
    height:450px;
    background-color: #fdffb7;
}
.prep {
    margin: 20px auto;
    padding: 60px;
    width:900px;
    height:700px;
}
.icones {
    padding: 20px;
    width:700px;
    height:100px;
}
.conteudo{
    border-radius: 40px;
    margin: 30px auto;
    padding: 60px;
    width:1100px;
    height:1900px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
h5 {
    color:#844741;
}
.info {
    margin: 10px ;
    padding:20px;
    width:800px;
    height:400px;
}
.tempo {
    margin: 20px auto;
    padding: 40px;
    width:60px;
    height:90px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.rend {
    margin: 20px;
    padding: 40px;
    width:60px;
    height:90px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
