.navbar{
    background-color: #faead5;
}
.rodape {
    background-color: #faead5;
}
.comentario {
   padding: 170px;

   width: 900px;
   height: 200px;
   margin-bottom: 70px;
}
.ing {
    border-radius: 30px;
    margin: 20px auto;
    padding: 60px;
    width:700px;
    height:auto;
    background-color: #fdffb7;
}
.prep {
    margin: 20px auto;
    padding: 60px;
    width:900px;
    height:auto;

}
.icones {
    margin: auto;
    padding: 20px;
    width:700px;
    height:100px;
}
.conteudo{
    border-radius: 40px;
    margin: 20px auto;
    padding: 40px;
    width:1100px;
    height:auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}
h5 {
    color:#844741;
}
.info {
    margin: 10px ;
    padding:20px;
    width:800px;
    height:400px;
}
h2 {
    text-align: center;
    color:#490e0d
}
a, p, h5, label, button, h4 {
    color:#490e0d;
}
