.comentario {
    margin-top: 10px;
    padding: 170px;
    width: 50%;
    height: 200px;
    margin-bottom: 70px;
}

.ing {
    border-radius: 30px;
    margin: 20px auto;
    padding: 60px;
    width:80%;
    height:auto;
    background-color: #fdffb7;
}

.prep {
    margin: 20px auto;
    padding: 60px;
    width:90%;
    height:700px;
}

.icones {
    margin: auto;
    padding: 20px;
    width:70%;
    height:100px;
}

.conteudo{
    border-radius: 40px;
    margin: 20px auto;
    padding: 40px;
    width:80%;
    height:auto;
    overflow:visible;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

h2 {
    text-align: center;
}

p, h5, button, h4 {
    font-family: Georgia, serif;
    color:#490e0d;
}

h2 {
    color:#490e0d;
}

.com {
    width: 50%;
    height: 400px;
    margin:auto;
}


